@CHARSET "UTF-8";

.connection{
    font-weight:bold;
    color:#96CDCD;
    margin:0px auto;
    text-align:center;
    margin:0.4em auto;
}

.connection span{
    color:#3299CC;
}

.connection span.none{
    color:#EE3B3B;
}

.fitnessTime{
    text-align:center;
    position:relative;
    overflow:hidden;
    text-shadow: #6374AB 2px 2px 2px;
    font-size:90px;
}

.falarm{
    background-color:#DBDB70;
    color:white;
}


#fitnessPhases .hide{
    display:none;
}

.hide{
    display:none;
}
